<div class="navbar-custom container-fluid white-background" id="nav-target">

  <div class="navbar-header">

    <button type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#mobile-nav-button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="brand brand-top pull-left">
      <div class="logo">
        <a href="/">
          <img src="">
        </a>
      </div>
    </div>

  </div>

  <div class="collapse navbar-collapse" id="mobile-nav-button">
    <div class="navbar-text pull-left">
      <ul class="nav navbar-nav">

        <li class="">
          <a href="/about">About</a>
        </li>

        <li class="">
          <a href="/blog">Blog</a>
        </li>

        <li class="">
          <a href="/contact">Contact</a>
        </li>

      </ul>
    </div>

    <div class="brand brand-bottom pull-right">
      <ul class="icons nav navbar-nav">
          <li>
            <a href="http://www.facebook.com/leah.l12s" target="_blank">
              <img src="">
            </a>
          </li>
          <li>
            <a href="https://twitter.com/l12s_" target="_blank">
              <img src="">
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/leahjonesresume" target="_blank">
              <img src="">
            </a>
          </li>
          <li>
            <a href="https://github.com/l12s" target="_blank">
              <img src="">
            </a>
          </li>
      </ul>
    </div>

  </div>

</div>