<div class="row social-icons">

  <div class="social-icons-col col-sm-4 col-xs-12">
    <div class="social-icons-wrapper">
      <div class="social-icon">
        <a href="https://www.github.com/{{ site.author.github }}">
          <i class="fa fa-github fa-4x github"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="social-icons-col col-sm-4 col-xs-12">
    <div class="social-icons-wrapper">
      <div class="social-icon">
        <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}">
          <i class="fa fa-linkedin fa-4x"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="social-icons-col col-sm-4 col-xs-12">
    <div class="social-icons-wrapper">
      <div class="social-icon">
        <a href="https://www.twitter.com/{{ site.author.twitter }}">
          <i class="fa fa-twitter fa-4x"></i>
        </a>
      </div>
    </div>
  </div>

</div>
