.navbar {
  background-color: $light-blue;
}

.navbar-custom .navbar-brand {
  color: white;
  font-family: Verdana, Geneva, serif;
}

.navbar-brand {
  font-size: 15pt;
  letter-spacing: 1px;
}

.navbar-padding {
  padding: 1.125% 0px 1.125% 0px;
}

