.social-icons {

  height: 100%;

  a {
    color: inherit;
  }

  i {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
  }

  .github:hover {
    color: #4078c0;
  }
  .twitter:hover {
    color: #00aced;
  }
  .linkedin:hover {
    color: #007bb6;
  }
}


.social-icons-wrapper {
  display: table;
  height: 100%;
  width: 100%;

  a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

}

@media (min-width: 0px) {
  .social-icons-col {
    height: 33%;
  }
}

@media (min-width: 768px) {
  .social-icons-col {
    height: 100%;
  }
}