.social-icons {
  height: 100%;
}

.social-icons-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.social-icon {

  display: table-cell;
  text-align: center;
  vertical-align: middle;

  a {
    color: inherit;
  }

  i {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }

}

.fa-github:hover {
  color: #4078c0;
}

.fa-twitter:hover {
  color: #00aced;
}

.fa-linkedin:hover {
  color: #007bb6;
}


@media (min-width: 0px) {
  .social-icons-col {
    height: 33%;
  }
}

@media (min-width: 768px) {
  .social-icons-col {
    height: 100%;
  }
}